.aboutBio {
  text-align: justify;
  margin-left: 10px;
  width: 800px;
}

.aboutBlock {
  color: #960c5a;
  width: 20%;
}

.aboutPage {
  background: url("https://images.unsplash.com/photo-1491251598665-58851e88bb7b?dpr=1&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=");
  /*background: url("https://images.unsplash.com/photo-1476108621677-3c620901b5e7?dpr=1&auto=format&fit=crop&w=1199&h=899&q=80&cs=tinysrgb&crop=&bg="); mountain url*/
  background-size: cover;
  background-position: 10%;
  height: 900px;
}

.basePage {
  background: url("https://images.unsplash.com/photo-1491764317679-2d993424ff66?dpr=1&auto=format&fit=crop&w=1500&h=2144&q=80&cs=tinysrgb&crop=&bg=");
  background-size: cover;
  height: 2144px;
}

body {
  font-family: 'La Belle Aurore', cursive;
  color: #f2f2f2;
}

.btn-default {
  font-size: 2em;
  width: 200px;
  background-color: transparent;
  border-radius: 10px;
}

.btn-default:hover {
  background-color: transparent;
  border-color: transparent;
}

.contactBlock {
  color: #000000;
  width: 20%;
}

.contactButton {
  color: #000000;
  border-color: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contactButton:hover {
  color: #960c5a;
}

.contactPage {
  background: url(https://images.unsplash.com/photo-1467042880794-30f4ba206c09?dpr=1&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=);
  background-size: cover;
  background-position: 5%;
  height: 900px;
  position: relative;
}

.container-fluid {
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
  background-color: #000000;
  opacity: .5;
  z-index: 9999;
}

.footer {
  color: #f2f2f2;
  background-color: #000000;
  font-size: 1.5em;
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

h1 {
  font-size: 7em;
  padding-top: 125px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 0;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

.headerName {
  color: #ffddea;
}

.headerTitle {
  color: #b6f9f7;
}

.nav-pills {
  font-size: 3em;
}

.nav>li>a:hover, .nav>li>a:focus {
    border-color: transparent !important;
    background-color: transparent !important;
    color: #8c00ff;
}

.projectsBlock {
  color: #f2f2f2;
  width: 20%;
}

.projectsButton {
  font-size: 2em;
  color: #f2f2f2;
  border-color: transparent;
  margin-top: 15px;
  margin-bottom: 15px;
}

.projectsButton:hover {
  color: #b6f9f7;
}

.projectsPage {
  background: url("https://images.unsplash.com/photo-1422949262308-76e6e4906af4?dpr=1&auto=format&fit=crop&w=1199&h=796&q=80&cs=tinysrgb&crop=&bg=");
  background-size: cover;
  background-position: 10%;
  height: 900px;
}

.titleBlock {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}