.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 220px;
    height: 280px;
    position: relative;
}

.gallery>a {
}

.gallery-img {
  width: 100%;
  height: 100%;
  font-family: 'La Belle Aurore', cursive;
  font-size: 1.4em;
}

.gallery:hover {
    border: 1px solid #777;
}

.name {
  width: 100%;
  text-align: left;
  padding: 5px;
  position: absolute;
  bottom: 0;
  overflow-wrap: break-word;
}


.test {
  background: url("../resources/img/test.jpg");
}