body {
  margin: 0;
  padding: 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  font-family: 'La Belle Aurore', cursive;
  color: #f2f2f2;
  background-color: #000000;
}

.gallery {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
}

.gallery>a {
  display: inline-block;
  width: 220px;
  height: 280px;
  margin: 5px;
}

.gallery-block {
  height: 100%;
  width: 100%;
}

.gallery-content {
  font-family: 'Arial', sans-serif;
  font-size: 11pt;
  line-height: 1.35;
  width: 600px;
  height: auto;
  margin: 15px;
}

.gallery-img {
  position: relative;
  border: 1px solid #ccc;
  width: 220px;
  height: 280px;
  font-family: 'La Belle Aurore', cursive;
  font-size: 2em;
  color: #333333;
}

.gallery-img:hover {
  border: 2px solid #777;
  color: #f2f2f2;
}

.mysticalLink {
  display: inline-block;
  color: #b6f9f7;
  margin: 0;
  width: auto;
  text-decoration: none;
}

.mysticalLink:hover {
  color: #ffddea;
}

.name {
  width: 100%;
  text-align: left;
  padding: 5px;
  position: absolute;
  bottom: 0;
  overflow-wrap: break-word;
}

.sandbox-gallery {
  background: url("../resources/img/sandbox.jpg");
}

.on-haikus {
  background: url("../resources/img/haikus.jpg");
  background-position: right top;
}

.on-discrete {
  background: url("../resources/img/discrete.jpg");
}